{% extends 'base.html' %}

{% block title %}
  History of
  {% if path %}{{ path }} - {% endif %}
  {{ super() }}
{% endblock %}

{% block content %}

{% include 'tree.inc.html' %}

{# TODO: move logic into view #}
{% set history = repo.history(commit_id, path, history_length+1, skip) %}
{% set has_more_commits = history|length == history_length+1 %}

{% macro pagination() %}
  <div class=pagination>
    {% if page %}
      {% for n in previous_pages %}
        {% if n is none %}
          <span class=n>...</span>
        {% else %}
          <a href="?page={{n}}" class=n>{{ n }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if has_more_commits %}
      <a href="?page={{page+1}}">»»</a>
    {% else %}
      <span>»»</span>
    {% endif%}
  </div>
  <div class=clearfloat></div>
{% endmacro %}

<div>
  <div class=history>
    <h2>
      {% if subpaths %}
        History of
        {% for name, subpath in subpaths %}
          {{ name }}
          {% if not loop.last %}
            <span class=slash>/</span>
          {% endif %}
        {% endfor %}
      {% else %}
        <!-- GikiLog -->
      {% endif %}
      <span>
        @<a href="{{ url_for(view, repo=repo.name, commit_id=commit_id) }}">{{ commit_id }}</a>
      </span>
      {% if USE_SMARTHTTP %}
          <code>git clone {{ url_for('history', repo=repo.name, _external=True) }}</code>
      {% endif %}
    </h2>

    {% if last_commit_renamed_path %}
      {% set renamed_path = last_commit_renamed_path(repo, history, path) %}
      {% if renamed_path %}
        <div>
          Note: this file was renamed to 
          <a href="{{ url_for('blob', path=renamed_path) }}">
            {{ renamed_path }}
          </a>
        </div>
      {% endif %}
    {% endif %}

    {{ pagination() }}

    <ul>
    {% for commit in history %}
    {% if not loop.last or history|length < history_length %}
      <li>
        <div class="{{ commit|commitclasses }}" onclick="document.location='{{ url_for('commit', repo=repo.name, commit_id=commit.id) }}'">
          <h3>{{ commit.message|commit_title }}</h3>
          <span class="line2 subtitle">
            <span>{{ commit.author|force_unicode|extract_author_name }}</span>
            <span>{{ commit.commit_time|timesince }} ago</span>
          </span>
          <div class=line1>
            {% autoescape false %}
              <div>{{ commit.message|commit_body|force_unicode|restructure }}</div>
            {% endautoescape %}
          </div>
          <div class=tags>
            {% for change in repo.changes(commit) %}
              <div class=tagline>
                {% if change.old.path != None %}
                  {% set tagpath = '' %}
                  {% for segment in change.old.path.split('/') %}
                    {% set tagpath = tagpath + segment + '/' %}
                    / <a href="{{ url_for('blob', repo=repo.name, commit_id=commit_id, path=tagpath) }}">{{ segment|remove_extension }}</a>
                  {% endfor %}
                {% endif %} 
              </div>
            {% endfor %}
          </div>
          <span class=clearfloat></span>
        </div>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  {{ pagination() }}

</div>

{% endblock %}
