<!doctype html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} - {{ SITE_NAME }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href={{ url_for('static', filename='pygments.css') }}>
<link rel="stylesheet" href={{ url_for('static', filename='klaus.css') }}>
<link rel="stylesheet" href={{ url_for('static', filename='gikilog.css') }}>
<script src={{ url_for('static', filename='line-highlighter.js') }}></script>
</head>

<body>
<header>
  <img src="/static/favicon.ico" style="border: 2px solid white; margin-bottom: -4px" alt="">
  <a href="/">{{ SITE_NAME }}</a>
  <span class=breadcrumbs>{% block breadcrumbs %}{% endblock %}</span>
  {% block extra_header %}{% endblock %}
</header>

<div id="welcome">
  {% block header %} {% endblock %}
</div>

<div id=content>
{% block content %}{% endblock %}
</div>

<footer>
  powered by <a href="https://github.com/raboof/klaus">gikilog</a><br>
  heavily based on <a href="https://github.com/jonashaag/klaus">klaus</a>{{ KLAUS_VERSION }},
  a simple Git viewer by Jonas Haag
</footer>
</body>
</html>
