<div class=tree>
  <h2>Reference <span class="commitid {{commit_id}}">@<a href="{{ url_for('commit', repo=repo.name, commit_id=commit_id) }}">{{ commit_id|shorten_sha1 }}</a></span></h2>
  <ul>
    {% for _, name, fullpath in tree.dirs %}
    <li><a href="{{ url_for('history', repo=repo.name, commit_id=commit_id, path=fullpath) }}" class=dir>{{ name|force_unicode }}</a></li>
    {% endfor %}
    {% for _, name, fullpath in tree.files %}
    <li><a href="{{ url_for('blob', repo=repo.name, commit_id=commit_id, path=fullpath) }}">{{ name|force_unicode }}</a></li>
    {% endfor %}
  </ul>
</div>
