header {
  background: black;
}

header a {
  color: white !important;
}

.branch-selector {
  display: none;
}

#welcome {
  border: 1px solid #E0E0E0;
  background-color: #F9F9F9;
  display: block;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.signature {
  float: right;
}

span.branch.master, span.commitid.master {
  display: none;
}

.commit.nostory {
  display: none;
}

h3 {
  margin: 4px;
}

.subtitle {
  display: block;
  padding-bottom: 15px;
}

#hybridexplanation li {
  margin-left: 2em;
  padding: 3px;
  text-indent: -2em;
}

footer {
  text-align: right;
}
