header {
  background: black;
}

header a {
  color: white !important;
}

.branch-selector {
  display: none;
}

span.branch.master, span.commitid.master {
  display: none;
}

h3 {
  margin: 4px;
}

.subtitle {
  display: block;
  padding-bottom: 15px;
}
